<div class="input-list">
  <div class="input-item">
    <label for="optimistic" class="block">完成する可能性がゼロでなくなる日 (Nano % day)</label>
    <input id="optimistic" type="number" [(ngModel)]="optimistic" (ngModelChange)="emit()" />
  </div>
  <div class="input-item">
    <label for="mode" class="block">完成する可能性が高い日</label>
    <input id="mode" type="number" [(ngModel)]="mode" (ngModelChange)="emit()" />
  </div>
  <div class="input-item">
    <label for="pessimistic" class="block">99%完了しているであろう日</label>
    <input id="pessimistic" type="number" [(ngModel)]="pessimistic" (ngModelChange)="emit()" />
  </div>
</div>
