.input-list {
  display: flex;
  flex-flow: column;
}

.input-item + .input-item {
  margin-top: 10px;
}

input[type='number'] {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type='number']:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 5px 0 dodgerblue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.block {
  display: block;
}
