.container {
  margin: 0 auto;
  max-width: 520px;
}

.input-list {
  display: flex;
  flex-flow: column;
}

.input-item + .input-item {
  margin-top: 10px;
}

input[type='number'] {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type='number']:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 5px 0 dodgerblue;
}

.block {
  display: block;
}

app-pdf-chart {
  margin-top: 50px;
  display: block;
}
